<app-modal [display]="showModal" (onClose)="onClose()">
  <div role="header">Nova Consulta</div>
  <form role="body" [formGroup]="form" (ngSubmit)="onSubmit()">
    <select
      #especialidade
      name="especialidade"
      id="especialidade"
      (change)="onEspecialidadeChange(especialidade.value)"
      formControlName="especialidade"
      required
    >
      <option value="null" disabled selected hidden>Especialidade</option>
      <option
        *ngFor="let especialidade of especialidades"
        [value]="especialidade.id"
      >
        {{ especialidade.nome }}
      </option>
    </select>

    <select
      #medico
      name="medico"
      id="medico"
      formControlName="medico"
      (change)="onMedicoChange(medico.value)"
    >
      <option value="null" disabled selected hidden>Médico</option>
      <option *ngFor="let medico of medicos" [value]="medico.id">
        {{ medico.nome }}
      </option>
    </select>
    <select
      #data
      name="data"
      id="data"
      formControlName="data"
      (change)="onDataChange(data.value)"
    >
      <option value="null" disabled selected hidden>Data</option>
      <option *ngFor="let data of datas" [value]="data">
        {{ data | date: "dd/MM/yyyy" }}
      </option>
    </select>

    <select name="hora" id="hora" formControlName="hora">
      <option value="null" disabled selected hidden>Hora</option>
      <option *ngFor="let horario of horarios" [value]="horario">
        {{ horario }}
      </option>
    </select>

    <div class="d-flex justify-content-between" role="footer">
      <button class="btn-cancelar" (click)="toggleShowModal()">Cancelar</button>
      <button type="submit" class="btn-confirmar" [disabled]="!form.valid">
        Confirmar
      </button>
    </div>
  </form>
</app-modal>

<div class="lista-container">
  <!-- Cabeçalho da tabela -->
  <div class="d-flex justify-content-between">
    <div class="consulta-clinica">Consulta Clínica</div>
    <div class="botao-cadastro">
      <button class="btn btn-primary small" (click)="toggleShowModal()">
        <span> + </span> Nova Consulta
      </button>
    </div>
  </div>

  <table>
    <thead>
      <th>Especialidade</th>
      <th>Profissional</th>
      <th>Data</th>
      <th>Hora</th>
      <th></th>
    </thead>
    <tr *ngFor="let consulta of consultas">
      <td>{{ consulta.medico.especialidade.nome }}</td>
      <td>{{ consulta.medico.nome }}</td>
      <td>{{ consulta.dia | date: "dd/MM/yyyy" }}</td>
      <td>{{ consulta.horario }}</td>
      <td class="desmarcar" (click)="desmarcarConsulta(consulta.id)">
        <span> x </span>desmarcar
      </td>
    </tr>
  </table>
</div>
