input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: var(--white);
  border: 1px solid #a8a8a8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 4px;
  display: inline-block;
  margin: 0px 8px 0px 0px;
}

input[type="checkbox"]:checked {
  background: var(--primary);
}

.checkbox-group {
  margin: 8px 0px 0px 0px;
}

input[type="checkbox"] ~ label {
  position: relative;
  top: -5px;
  font-size: 13px;
  line-height: 15px;
  color: var(--gray2);
}

.btn-primary:disabled {
  background-color: #90d3d7;
}
